<head>
  <link rel="stylesheet" href="/static/css/styleHome.css" media="screen" type="text/css" />
</head>

<body>
  <form action="/home" method="post">
    <div id="divScenario">
      <div id="divTitreCompt">
        <label for="scenario">Titre scénario : </label>
        <input type="text" id="ScenarioTitle" name="scenarioTitle" required></input>
        <label for="account">Compte : </label>
        <p id="accountName"> {{ accountName }} </p>
      </div>
      <div id="divTextScenario">
        <label for="msg">Scénario : </label>
        <textarea id="msg" name="scenarioText" placeholder="Enter your scenario here"></textarea>
        <input type="submit" value="Send Scénario">
      </div>
    </div>
    <div id="divList">
      <label for="ListeScenario">Liste Scénario : </label></br></br>
      <select id="comboBox" name="select">
        <option selected> Choose a scenario </option>
        {% for scenar in rows %}
        <option> {{ scenar["LogRPG_Senario_Title"] }} </option>
        {% endfor %}
      </select>
      <button type="button" onclick="displayScenario()">Afficher</button>
      <input type="submit" value="Send Scénario">
    </div>
    <div id="divDices">
      <input id="btDices46" class="imgD6" type="radio" title="D6" name="dice" value="6" checked>D6</input>
      <input id="btDices46" class="imgD4" type="radio" title="D4" name="dice" value="4">D4</input>
      <input id="btDices10100" class="imgD100" type="radio" title="D100" name="dice" value="100">D100</input>
      <input id="btDices10100" class="imgD10" type="radio" title="D10" name="dice" value="10">D10</input>
      <input id="nbDice" type="range" name="nbDice" value="1" min="1" max="10">
      <button type="button" onclick="getRoll()">Lancer !</button>
      <p id="result"></p>
    </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    function displayScenario() {
      var d = document.getElementById("comboBox")
      name = d.options[d.selectedIndex].text;
      $.getJSON("/displayScenario/" + name, function (data) {
        document.getElementById("msg").innerHTML = data["scenario"]
        title = document.getElementById("ScenarioTitle")
        title.value = name
      });
    }
    function getRoll() {
      var d = document.getElementsByName("dice");
      var nbD = $("#nbDice").val();
      d.forEach((dice) => {
        if (dice.checked) {
          $.getJSON("/rollNdice/" + dice.value + "/" + nbD, function (data) {
            document.getElementById("result").innerHTML = "Result: " + data["result"]
          });
        }
      });
    }
  </script>
</body>
