<html>

<head>
    <meta charset="utf-8">
    <!-- import style file -->
    <link rel="stylesheet" href="/static/css/styleLogin.css" media="screen" type="text/css" />
</head>

<body>
    <div id="container">
        <!-- login zone -->

        <form action="/login" method="post">
            <img src="../static/image/logoLogRPG.png">


            <input id="UserNamePsw" name="username" type="text" placeholder="User name" required>

            <input id="UserNamePsw" name="password" type="password" placeholder="Password" required>

            <p id="Error"> {{ msg }} </p>

            <input id="BtLogin" type="submit" value='Log In'>

            <p class="BtLogin">Don't have an account ? <a href="{{url_for('register')}}"> Sign Up here ! </a></p>
        </form>
    </div>
</body>

</html>